/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

/* Header */
header {
    background-color: #fff;
    padding: 10px 20px;
    text-align: center;
}


.logo img {
    position: relative;
    left: -370px;
}

h1 {
    color: #ff5b00;
    font-size: 28px;
    margin-top:0;
}

.description {
    font-size: 16px;
    color: #848484;
}

.return-btn {
    position: absolute;
    top: 150px; 
    left: 350px; 
    text-decoration: none;
    color: #ff5b00;
    font-weight: bold;
}


.github-btn {
    display: inline-block;
    background-color: #ff5b00;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    width: 150px; 
    text-align: center; 
}


/* footer {
    background-color: #fff;
    padding: 20px;
    font-size: 14px;
    color: #666;
}

.social-icons img {
    width: 24px;
    margin: 0 5px;
} */

footer {
    background-color: #fff;
    padding: 20px;
    font-size: 14px;
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the copyright text */
}

/* Align social icons to the left */
.social-icons {
    margin-left: 220px;
    display: flex;
    gap: 10px;
    align-self: flex-start; /* Moves the icons to the left */
}

.social-icons img {
    width: 24px;
}

/* Center the copyright text */
footer p {
    text-align: center;
    width: 100%;
}


#repo-card {
    max-width: 800px;
    min-height: 600px;
    background-color: #ffe8d6;
    margin: 25px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    gap: 15px;
}



.repo-image {
    flex-shrink: 0;
    width: 300px; 
    height: 180px; 
}

.repo-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    background-color: #ddd;
}


.repo-info {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    gap: 8px;
    width: calc(100% - 170px); 
    text-align: left; 
}


.repo-info h2 {
    margin: 0;
    color: #000;
}

.repo-info p {
    color: #848484;
} 

#repo-brief {
    margin-left: 80px;
}

#repo-details {
    margin-top: 60px;
    padding: 15px;
    position: relative;
    left:-270px;
}

#repo-details h3 {
    color: #000; 
    font-size: 20px;
    margin-bottom: 10px;
}

#repo-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#repo-details li {
    margin: 30px 0;
    font-size: 14px;
}

#repo-details strong {
    font-weight: bold;
    color: #333;
}

#repo-details span {
    color: #666;
}

